{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block body %}
<br>
<h1>Homepage</h1>
<br>
<main role="main" style="user-select: auto;">
  <div class="jumbotron" style="user-select: auto;">
    <div class="col-sm-8 mx-auto" style="user-select: auto;">
      <h1 style="user-select: auto;">Welcom</h1>
      <p style="user-select: auto;">Welcome to Jun's Blog! Here we'll ba talking about everything computer, science.</p>
      <p style="user-select: auto;">Go visit our website</p>
      <p style="user-select: auto;">
        <a class="btn btn-primary" href="/post" role="button" style="user-select: auto;">website »</a>
      </p>
    </div>
  </div>
</main>
{% endblock %}